.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px; /* Add this line to set the border radius */
}

.borderless-button {
  border: none;
  background-color: transparent;

  cursor: pointer;
  /* Add any other desired styles */
}
