.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  max-width: 140px;
  max-height: 140px;
}

img.track {
  border: 1px solid #8a8a8a;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.search-form .form-group {
  padding-right: 5px;
  padding-left: 5px;
}

.search-form .col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.search-form .row {
  margin-right: -5px;
  margin-left: -5px;
}

h1 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

.container {
  font-family: "NEXON Lv1 Gothic OTF";
}

/* Added CSS */

.container {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.row {
  margin-right: 0;
  margin-left: -10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 13px;
}

.row-detail {
  margin-top: 20px;
}
